
@page
<div>
    <input type="button" id="joinGroup" value="Join Private Group" />
</div>
<div class="mb-3">
    <select id="group">
        <option value="All">EveryOne</option>
        <option value="Myself">Myself</option>
        <option value="PrivateGroup">Private Group</option>
    </select>
  <textarea class="form-control"  name="message" id="message" rows="3"></textarea>

  <input type="button" id="sendButton" value="Send Message" class="btn btn-outline-primary" />
</div>

<div id="messages" class="mb-3"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>